<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- it is a header -->
    <h6>here is menu</h6>
    <%- include('../partials/header') %>
        <h1>It's a users page</h1>
        <main>
            <% users.forEach(user=> { %>
                <p> <strong> First Name : </strong>
                    <%= `${user.firstname}`%>
                </p>
                <p> <strong> Lase Name :</strong>
                    <%= `${user.lastname}` %>
                </p>
                <p> <strong> Email : </strong>
                    <%= `${user.email}` %>
                </p>
                <p> <strong> Password : </strong>
                    <%= `${user.password}` %>
                </p><br>
                <% }) %>

        </main>
</body>

</html>